@charset "UTF-8";
@import "Fonts/fontSizes.css";
body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 3.5rem;
}

header {
  width: 100%;
  height: 75vh;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
header > :nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  background-size: cover;
  transform-origin: center;
  animation: headerAnimation 0.75s linear;
}
header > :nth-child(2) {
  position: absolute;
  z-index: 10;
  text-align: center;
  animation: headerAnimation2 0.75s linear;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}
header > :nth-child(2) h1 {
  all: unset;
  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-size: 75px;
  color: white;
}
header > :nth-child(2) h2 {
  all: unset;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: white;
}
header > :nth-child(2) button {
  all: unset;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0.65rem 2.25rem;
  cursor: pointer;
  font-size: 35px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Darker shadow on hover */
}
header > :nth-child(2) button:hover {
  scale: 1.025;
  transition: 0.3s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Darker shadow on hover */
}

@keyframes headerAnimation {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes headerAnimation2 {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
main {
  display: flex;
  flex-flow: column nowrap;
  gap: 3.5rem;
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
}
main > :nth-child(1) {
  text-align: center;
}
main > :nth-child(1) h2 {
  all: unset;
  font-weight: 500;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 75px;
}
main > :nth-child(2) {
  width: 12.5%;
  height: 5px;
  margin: 0 auto;
  background-color: #e9e9e9;
  border-radius: 20px;
}
main > :nth-child(3) {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  gap: 1.15rem;
  padding: 2.5rem 0rem;
}
main > :nth-child(3) > div {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  align-items: flex-start;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem 0rem;
  border-radius: 15px;
  background: white;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
}
main > :nth-child(3) > div > :nth-child(1) {
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  padding: 1rem 0rem;
}
main > :nth-child(3) > div > :nth-child(1) > :nth-child(1) {
  width: 95%;
  max-width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0px 10px 0.1px rgba(0, 0, 0, 0.1);
}
main > :nth-child(3) > div > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  background: url("../IMG/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}
main > :nth-child(3) > div > :nth-child(1) > :nth-child(1) > :nth-child(1):hover {
  transform: scale(1.1);
  transition: 0.3s;
}
main > :nth-child(3) > div > :nth-child(2) {
  margin: 0 auto;
  width: 92.5%;
}
main > :nth-child(3) > div > :nth-child(2) > :nth-child(1) {
  display: flex;
  flex-flow: column wrap;
}
main > :nth-child(3) > div > :nth-child(2) > :nth-child(1) h4 {
  all: unset;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
main > :nth-child(3) > div > :nth-child(2) p {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
}
main > :nth-child(4) {
  text-align: center;
  font-size: 28px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2.25rem;
}
main > :nth-child(4) > div {
  display: flex;
  flex-flow: column wrap;
  gap: 0.85rem;
}
main > :nth-child(4) > div h5 {
  all: unset;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
main > :nth-child(4) > div > :nth-child(1) {
  text-decoration: underline;
}
main > :nth-child(5) {
  display: flex;
  padding: 1rem;
  margin: 0 auto;
}
main > :nth-child(5) form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
main > :nth-child(5) form h4 {
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}
main > :nth-child(5) form label {
  font-size: 25px;
  color: #555;
  display: block;
  margin: 1rem 0rem 0.5rem 0rem;
}
main > :nth-child(5) form input[type=submit] {
  width: 100%;
  margin-top: 1.5rem;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main > :nth-child(5) form input[type=submit]:hover {
  background-color: #0056b3;
}
main > :nth-child(5) form input[type=text], main > :nth-child(5) form input[type=tel] {
  width: 100%;
  padding: 12px;
  font-size: 22px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
main > :nth-child(5) form input[type=text]:focus, main > :nth-child(5) form input[type=tel]:focus {
  border-color: #007bff;
}

.beforeSection {
  width: 100%;
  background-color: #f3f3f3; /* Fondo más claro */
  padding: 2.5rem 0rem 2.75rem 0rem;
  box-shadow: 0 2px 2px 1px rgba(88, 88, 88, 0.1); /* Sombra más suave y menos densa */
}
.beforeSection section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 3.5rem;
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
}
.beforeSection section > :nth-child(1) h2 {
  all: unset;
  font-weight: 500;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 75px;
}
.beforeSection section > :nth-child(2) {
  width: 12.5%;
  height: 5px;
  margin: 0 auto;
  background-color: #e9e9e9;
  border-radius: 20px;
}
.beforeSection section > :nth-child(3) {
  display: flex;
  flex-flow: column wrap;
  gap: 0.75rem;
}
.beforeSection section > :nth-child(3) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.beforeSection section > :nth-child(3) > :nth-child(1) > :nth-child(1) {
  flex: 1.25;
}
.beforeSection section > :nth-child(3) > :nth-child(1) > :nth-child(1) img {
  width: 100%;
  height: 250px;
}
.beforeSection section > :nth-child(3) > :nth-child(1) > :nth-child(2) {
  flex: 0.75;
}
.beforeSection section > :nth-child(3) > :nth-child(1) > :nth-child(2) img {
  width: 100%;
  height: 250px;
}
.beforeSection section > :nth-child(3) > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.beforeSection section > :nth-child(3) > :nth-child(2) > :nth-child(1) {
  flex: 0.8;
}
.beforeSection section > :nth-child(3) > :nth-child(2) > :nth-child(1) img {
  width: 100%;
  height: 250px;
}
.beforeSection section > :nth-child(3) > :nth-child(2) > :nth-child(2) {
  flex: 1.2;
}
.beforeSection section > :nth-child(3) > :nth-child(2) > :nth-child(2) img {
  width: 100%;
  height: 250px;
}
.beforeSection section > :nth-child(3) > :nth-child(3) {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.beforeSection section > :nth-child(3) > :nth-child(3) > :nth-child(1) {
  flex: 0.6;
}
.beforeSection section > :nth-child(3) > :nth-child(3) > :nth-child(1) img {
  width: 100%;
  height: 250px;
}
.beforeSection section > :nth-child(3) > :nth-child(3) > :nth-child(2) {
  flex: 0.75;
}
.beforeSection section > :nth-child(3) > :nth-child(3) > :nth-child(2) img {
  width: 100%;
  height: 250px;
}
.beforeSection section > :nth-child(3) > :nth-child(3) > :nth-child(3) {
  flex: 1.2;
}
.beforeSection section > :nth-child(3) > :nth-child(3) > :nth-child(3) img {
  width: 100%;
  height: 250px;
}

aside {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
}
aside h2 {
  all: unset;
  font-weight: 500;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 70px;
}
aside > :nth-child(2) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}
aside > :nth-child(2) > :nth-child(1) {
  flex: 1;
  width: 100%;
  display: flex;
  place-content: center;
  align-items: center;
}
aside > :nth-child(2) > :nth-child(1) img {
  width: 100%;
  max-width: 550px;
}
aside > :nth-child(2) > :nth-child(2) {
  flex: 1;
}
aside > :nth-child(2) > :nth-child(2) p {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}
aside > :nth-child(3) {
  background: #fbff86;
  display: flex;
  padding: 1rem;
  margin: 0 auto;
}
aside > :nth-child(3) form {
  display: flex;
  flex-flow: column wrap;
  gap: 1.25rem;
}
aside > :nth-child(3) form h4 {
  text-align: center;
}
aside > :nth-child(3) form > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
aside > :nth-child(3) form > :nth-child(2) div {
  display: flex;
  flex-flow: column wrap;
  gap: 0.75rem;
}
aside > :nth-child(3) form > :nth-child(3) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  place-content: center;
}
aside > :nth-child(3) form > :nth-child(3) input[type=submit] {
  all: unset;
  background-color: red;
  font-family: "Varela Round", serif;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 22px;
  border-radius: 12px;
  transition: 0.3s;
}
aside > :nth-child(3) form > :nth-child(3) input[type=submit]:hover {
  scale: 1.05;
  transition: 0.3s;
}

footer {
  width: 90%;
  max-width: 1450px;
  background-color: rgb(192, 108, 108);
  margin: 0 auto;
}
footer h2 {
  all: unset;
  font-weight: 500;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 75px;
}
footer .swiper-container {
  background: orange;
}
footer .swiper-container .swiper-wrapper {
  background-color: blue;
  display: flex;
  gap: 1rem;
}
footer .swiper-container .swiper-wrapper .swiper-slide {
  background: green;
}
footer .swiper-container .swiper-wrapper .swiper-slide img {
  width: 350px;
}

article {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  place-self: center;
  place-content: center;
  gap: 2rem;
  width: 90%;
  max-width: 1450px;
  background-color: red;
  margin-bottom: 2rem;
}/*# sourceMappingURL=styles.css.map */