@import "Fonts/fontSizes.css";

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 3.5rem;
  background-color: rgb(248, 248, 248);
}

@media (max-width: 900px) {
  body {
    gap: 2.25rem;
  }
}

@media (max-width: 575px) {
  body {
    gap: 1.75rem;
  }
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  > :nth-child(2) {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }
  h4 {
    text-align: center;
    font-size: 30px;
    color: #333;
    padding: 0rem 0rem 3rem 0rem;
  }
  // label {
  //   font-size: 25px;
  //   color: #555;
  //   display: block;
  //   margin: 1rem 0rem 0.5rem 0rem;
  // }
  input[type="submit"] {
    width: 100%;
    margin-top: 1.5rem;
    padding: 15px;
    background-color: #dd9048;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  input[type="submit"]:hover {
    background-color: #d1843d;
  }
  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 12px;
    font-size: 22px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background-color: #eaeced;
    border-radius: 6px;
    color: black;
    cursor: pointer;
  }
  input[type="text"]:focus,
  input[type="tel"]:focus {
    border-color: #dd9048;
  }
}

@media screen and (max-width: 900px) {
  form {
     padding: 20px;
  }

  form h4 {
     font-size: 26px;
     padding: 0rem 0rem 2rem 0rem;
  }

  form input[type="submit"],
  form input[type="text"],
  form input[type="tel"] {
     font-size: 20px;
     padding: 10px;
  }
}

/* Media Query for screens up to 575px */
@media screen and (max-width: 575px) {
  form {
     padding: 15px;
     width: 100%;
     box-sizing: border-box;
  }

  form h4 {
     font-size: 22px;
     padding: 0rem 0rem 1.5rem 0rem;
  }

  form input[type="submit"],
  form input[type="text"],
  form input[type="tel"] {
     font-size: 18px;
     padding: 8px;
  }
}

header {
  width: 100%;
  height: 75vh;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  > :nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    background: url("../IMG/Mountains.jpg") center center no-repeat;
    background-size: cover;
    transform-origin: center;
    animation: headerAnimation 0.75s linear;
  }
  > :nth-child(2) {
    position: absolute;
    z-index: 10;
    text-align: center;
    animation: headerAnimation2 0.75s linear;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    h1 {
      all: unset;
      font-family: "Rubik Dirt", serif;
      font-weight: 400;
      font-size: 75px;
      color: white;
    }
    h2 {
      all: unset;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 45px;
      color: white;
    }
    button {
      all: unset;
      background-color: #ffffff;
      font-family: "Poppins", sans-serif;
      padding: 0.35rem 2.25rem;
      cursor: pointer;
      font-size: 35px;
      border-radius: 12px;
      transition: 0.3s;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
      &:hover {
        scale: 1.025;
        transition: 0.3s;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    > :nth-child(2) {
      gap: 1.5rem;
      h1 {
        font-size: 45px;
      }
      h2 {
        font-size: 22.5px;
      }
      button {
        padding: 0.55rem 1.75rem;
        font-size: 22.5px;
      }
    }
  }
}

@media (max-width: 575px) {
  header {
    height: 75vh;
    > :nth-child(2) {
      h1 {
        font-size: 22.5px;
      }
      h2 {
        font-size: 15px;
      }
      button {
        padding: 0.25rem 1.15rem;
        font-size: 15px;
      }
    }
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 3.5rem;
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
  > :nth-child(1) {
    text-align: center;
    animation: headerAnimation2 0.75s linear;
    h2 {
      all: unset;
      font-weight: 500;
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-size: 75px;
    }
  }
  > :nth-child(2) {
    width: 12.5%;
    height: 5px;
    margin: 0 auto;
    background-color: #e9e9e9;
    border-radius: 20px;
    animation: mainAnimation 0.75s linear;
  }
  > :nth-child(3) {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    gap: 1.15rem;
    padding: 0.5rem 0rem 2.5rem 0rem;
    > div {
      display: flex;
      flex-flow: column wrap;
      flex: 1;
      align-items: flex-start;
      align-items: center;
      gap: 1rem;
      text-align: center;
      padding: 1rem 0rem;
      border-radius: 15px;
      background: white;
      box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
      opacity: 0;
      transform: translateY(-17.5%);
      > :nth-child(1) {
        width: 100%;
        display: flex;
        align-items: center;
        place-content: center;
        padding: 1rem 0rem;
        > :nth-child(1) {
          width: 95%;
          max-width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 50%;
          box-shadow: 0 0px 10px 0.1px rgba(0, 0, 0, 0.1);
          > :nth-child(1) {
            background: url("../IMG/Mountains.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            transition: 0.3s;
            &:hover {
              transform: scale(1.1);
              transition: 0.3s;
            }
          }
        }
      }
      > :nth-child(2) {
        margin: 0 auto;
        width: 92.5%;
        > :nth-child(1) {
          display: flex;
          flex-flow: column wrap;
          h4 {
            all: unset;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            font-size: 18px;
          }
        }
        p {
          font-weight: 400;
          font-family: "Poppins", sans-serif;
          font-size: 19px;
        }
      }
    }
    > :nth-child(1) {
      transition: 0.5s;
    }
    > :nth-child(2) {
      transition: 0.8s;
    }
    > :nth-child(3) {
      transition: 1.2s;
    }
    > :nth-child(4) {
      transition: 1.6s;
    }
    > :nth-child(5) {
      transition: 2s;
    }
    .animationN1 {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  > :nth-child(4) {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2.25rem;
    > div {
      display: flex;
      flex-flow: column wrap;
      h5 {
        all: unset;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 600;
      }
      > :nth-child(1) {
        text-decoration: underline;
      }
    }
  }
  > :nth-child(5) {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  main {
    gap: 2.5rem;
    > :nth-child(1) {
      h2 {
        font-size: 45px;
      }
    }
    > :nth-child(3) {
      display: flex;
      flex-flow: column wrap;
      flex: 1;
      gap: 1rem;
      padding: 0rem;
      > div {
        gap: 0.75rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        place-content: center;
        text-align: center;
        padding: 1rem 0rem;
        opacity: 0;
        transform: translateY(-10.5%);
        width: 90%;
        max-width: 350px;
        margin: 0 auto;
        > :nth-child(1) {
          padding: 0.75rem 0rem;
          > :nth-child(1) {
            max-width: 215px;
            height: 215px;
          }
        }
        > :nth-child(2) {
          > :nth-child(1) {
            h4 {
              font-size: 19px;
            }
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
    > :nth-child(4) {
      gap: 1.75rem;
      > div {
        h5 {
          font-size: 20px;
        }
      }
    }
    > :nth-child(5) {
      padding: 0.75rem;
    }
  }
}

@media (max-width: 575px) {
  main {
    gap: 1.75rem;
    > :nth-child(1) {
      h2 {
        font-size: 22.5px;
      }
    }
    > :nth-child(3) {
      gap: 0.75rem;
      > div {
        gap: 0.65rem;
        padding: 0.75rem 0rem;
        opacity: 0;
        transform: translateY(-10.5%);
        width: 90%;
        max-width: 350px;
        margin: 0 auto;
        > :nth-child(1) {
          padding: 0.65rem 0rem;
          > :nth-child(1) {
            max-width: 215px;
            height: 215px;
          }
        }
        > :nth-child(2) {
          > :nth-child(1) {
            h4 {
              font-size: 16px;
            }
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
    > :nth-child(4) {
      gap: 1.5rem;
      > div {
        h5 {
          font-size: 16px;
        }
      }
    }
    > :nth-child(5) {
      padding: 0.5rem;
    }
  }
}

.beforeSection {
  width: 100%;
  padding: 2.5rem 0rem 2.75rem 0rem;
  section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 3.5rem;
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    > :nth-child(1) {
      h2 {
        all: unset;
        font-weight: 500;
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-size: 75px;
      }
    }
    > :nth-child(2) {
      width: 12.5%;
      height: 5px;
      margin: 0 auto;
      background-color: #e9e9e9;
      border-radius: 20px;
    }
    > :nth-child(3) {
      display: flex;
      flex-flow: column wrap;
      gap: 1rem;
      div {
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem;
        width: 100%;
        border-radius: 4px;
        transition: 0.65s;
        div {
          width: 100%;
          height: 300px;
          box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          overflow: hidden;
          transition: 1s;
          > :nth-child(1) {
            height: 100%;
            width: 100%;
            border-radius: 4px;
            transition: 0.3s;
            img {
              width: 100%;
            }
            &:hover {
              transform: scale(1.025);
              transition: 0.3s;
            }
          }
        }
      }
      > :nth-child(1) {
        > :nth-child(2) {
          width: 90%;
        }
      }
      .animationN2 {
        > :nth-child(2) {
          width: 50%;
        }
      }
      > :nth-child(2) {
        > :nth-child(1) {
          width: 100%;
        }
      }
      .animationN3 {
        > :nth-child(1) {
          width: 65%;
        }
      }
      > :nth-child(3) {
        > :nth-child(1) {
          width: 35%;
        }
        > :nth-child(2) {
          width: 100%;
        }
      }
      .animationN4 {
        > :nth-child(1) {
          width: 55%;
        }
        > :nth-child(2) {
          width: 65%;
        }
      }
      .animationN2 .animationN3 .animationN4 {
        transition: 0.65s;
      }
    }
  }
}

@media (max-width: 900px) {
  .beforeSection {
    padding: 1.5rem 0rem .75rem 0rem;
    section {
      gap: 1.5rem;
      width: 90%;
      > :nth-child(1) {
        h2 {
          font-size: 45px;
        }
      }
      > :nth-child(3) {
        display: flex;
        flex-flow: column wrap;
        gap: 0.75rem;
        div {
          display: flex;
          flex-flow: column wrap;
          gap: 0.75rem;
          width: 100%;
          transition: 0.65s;
          div {
            width: 100%;
            height: 300px;
            box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            overflow: hidden;
            transition: 1s;
            > :nth-child(1) {
              height: 100%;
              width: 100%;
              border-radius: 4px;
              transition: 0.3s;
              img {
                width: 100%;
              }
            }
          }
        }
        > :nth-child(1) {
          > :nth-child(2) {
            width: 100%;
          }
        }
        .animationN2 {
          > :nth-child(2) {
            width: 100%;
          }
        }
        > :nth-child(2) {
          > :nth-child(1) {
            width: 100%;
          }
        }
        .animationN3 {
          > :nth-child(1) {
            width: 100%;
          }
        }
        > :nth-child(3) {
          > :nth-child(1) {
            width: 100%;
          }
          > :nth-child(2) {
            width: 100%;
          }
        }
        .animationN4 {
          > :nth-child(1) {
            width: 100%;
          }
          > :nth-child(2) {
            width: 100%;
          }
        }
        .animationN2 .animationN3 .animationN4 {
          transition: 0.65s;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .beforeSection {
    padding: 1rem 0rem .65rem 0rem;
    section {
      gap: 1rem;
      width: 90%;
      > :nth-child(1) {
        h2 {
          font-size: 22.5px;
        }
      }
      > :nth-child(3) {
        gap: 0.65rem;
        div {
          gap: 0.65rem;
          div {
            height: 300px;
          }
        }
      }
    }
  }
}

aside {
  display: flex;
  flex-flow: column wrap;
  gap: 2.25rem;
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(-5%);
  transition: 2s;
  h2 {
    all: unset;
    font-weight: 500;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 70px;
  }
  > :nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.5rem;
    > :nth-child(1) {
      flex: 1;
      width: 100%;
      display: flex;
      place-content: center;
      align-items: center;
      scale: 0.75;
      img {
        width: 100%;
        max-width: 550px;
        filter: drop-shadow(0px 0px 10px #75b507);
      }
    }
    > :nth-child(2) {
      flex: 1;
      p {
        font-family: "Poppins", sans-serif;
        font-size: 32px;
      }
    }
  }
  > :nth-child(3) {
    display: flex;
    padding: 1rem;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  aside {
    gap: 1.5rem;
    transform: translateY(-2.5%);
    h2 {
      font-size: 40px;
      text-align: center;
    }
    > :nth-child(2) {
      flex-flow: column wrap;
      gap: 1rem;
      > :nth-child(1) {
        flex: 1;
        width: 100%;
        display: flex;
        place-content: center;
        align-items: center;
        scale: 0.75;
        img {
          width: 100%;
          max-width: 350px;
        }
      }
      > :nth-child(2) {
        p {
          font-size: 20px;
        }
      }
    }
    > :nth-child(3) {
      padding: 0.75rem;
    }
  }
}

@media (max-width: 575px) {
  aside {
    gap: 1.15rem;
    transform: translateY(-2%);
    h2 {
      font-size: 22.5px;
    }
    > :nth-child(2) {
      flex-flow: column wrap;
      gap: 0.85rem;
      > :nth-child(1) {
        scale: 0.75;
        img {
          width: 100%;
          max-width: 350px;
        }
      }
      > :nth-child(2) {
        p {
          font-size: 15px;
        }
      }
    }
    > :nth-child(3) {
      padding: 0.55rem;
    }
  }
}

.animationN5 {
  transition: 2s;
  opacity: 1;
  transform: translateY(0%);
  > :nth-child(2) {
    > :nth-child(1) {
      transition: 2.25s;
      scale: 1;
    }
  }
}

footer {
  width: 90%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 1.5rem 0rem;
  > :nth-child(1) {
    text-align: center;
    padding: 2rem 0rem;
    h2 {
      all: unset;
      font-weight: 500;
      font-family: "M PLUS Rounded 1c", sans-serif;
      font-size: 75px;
      text-align: center;
    }
  }
  > :nth-child(2) {
    width: 12.5%;
    height: 5px;
    margin: 0 auto;
    margin-bottom: 2.25rem;
    background-color: #e9e9e9;
    border-radius: 20px;
  }
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        place-content: center;
        text-align: center;
        padding: 2rem 0rem;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        > div {
          display: flex;
          flex-flow: column wrap;
          align-items: flex-start;
          background-color: white;
          box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
          padding: 1rem 0rem;
          border-radius: 12px;
          text-align: center;
          flex: 0.75;
          > :nth-child(1) {
            text-align: center;
            width: 90%;
            margin: 0 auto;
            h4{
              font-size: 25px;
              font-family: "Poppins", sans-serif;
            }
          }
          > :nth-child(2) {
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            place-content: center;
            padding: 1rem 0rem;
            > :nth-child(1) {
              width: 95%;
              height: 200px;
              overflow: hidden;
              border-radius: 16px;
              box-shadow: 0 0px 10px 0.1px rgba(0, 0, 0, 0.35);
              > :nth-child(1) {
                background: url("../IMG/Mountains.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                transition: 0.3s;
                &:hover {
                  transform: scale(1.1);
                  transition: 0.3s;
                }
              }
            }
          }
          > :nth-child(3) {
            margin: 0 auto;
            width: 90%;
            h4 {
              all: unset;
              font-weight: 600;
              font-family: "Poppins", sans-serif;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  footer {
    padding: 1.15rem 0rem;
    > :nth-child(1) {
      padding: 1.15rem 0rem;
      h2 {
        font-size: 45px;
      }
    }
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          padding: 2rem 0rem;
          display: flex;
          flex-flow: row wrap;
          gap: 1rem;
          > div {
            padding: 0.9rem 0rem;
            flex: 0.95;
            > :nth-child(1) {
              h4{
                font-size: 20px;
              }
            }
            > :nth-child(2) {
              padding: 0.9rem 0rem;
            }
            > :nth-child(3) {
              h4 {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  footer {
    padding: 1.15rem 0rem;
    > :nth-child(1) {
      padding: 1.15rem 0rem;
      h2 {
        font-size: 22.5px;
      }
    }
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          padding: 2rem 0rem;
          display: flex;
          flex-flow: row wrap;
          gap: 1rem;
          > div {
            padding: 0.9rem 0rem;
            flex: 0.95;
            > :nth-child(1) {
              h4{
                font-size: 18px;
              }
            }
            > :nth-child(2) {
              padding: 0.9rem 0rem;
            }
            > :nth-child(3) {
              h4 {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

article {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  place-self: center;
  place-content: center;
  gap: 2rem;
  width: 90%;
  max-width: 1450px;
  div {
    a {
      width: 100%;
      img {
        width: 100%;
        max-width: 35px;
        transition: 0.3s;
        &:hover {
          scale: 1.05;
          transition: 0.3s;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  article {
    gap: 1.5rem;
    div {
      a {
        img {
          max-width: 30px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
   article {
    gap: 1.5rem;
    div {
      a {
        img {
          max-width: 25px;
        }
      }
    }
  }
}

.footerFinal {
  background-color: black;
  width: 100%;
  color: white;
  padding: 1rem 0rem;
  div {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    p{
      font-size: 22px;
    }
  }
}

@media (max-width: 900px) {
  .footerFinal {
    padding: 0.85rem 0rem;
    div {
      p{
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 575px) {
  .footerFinal {
    padding: 0.75rem 0rem;
    div {
      p{
        font-size: 16px;
      }
    }
  }
}

@keyframes headerAnimation {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes headerAnimation2 {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes mainAnimation {
  0% {
    width: 1.5%;
    height: 5px;
    margin: 0 auto;
    background-color: #e9e9e9;
    border-radius: 20px;
  }
  100% {
    width: 12.5%;
    height: 5px;
    margin: 0 auto;
    background-color: #e9e9e9;
    border-radius: 20px;
  }
}