@import "Fonts/fontSizes.css";


body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1.5rem;
}

header{
    width: 100%;
    height: 75vh;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden; 
    position: relative;
    >:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        height: 100%;
        width: 100%;
        background: url('../IMG/1.jpg') center center no-repeat;
        background-size: cover; 
        transform-origin: center; 
        animation: headerAnimation .75s linear;
    }
    >:nth-child(2){
        position: absolute;
        z-index: 10;
        text-align: center;
        animation: headerAnimation2 .75s linear;
        h1{
            font-family: "Rubik Dirt", serif;
            font-weight: 400;
            font-size: 75px;
        }
        h2{
            font-family: "Varela Round", serif;
            font-weight: 400;
            font-size: 42px;
        }
        button{
            all: unset;
            margin-top: 3rem;
            background-color: #fbff86;
            font-family: "Varela Round", serif;
            padding: 1rem 3rem;
            cursor: pointer;
            font-size: 22px;
            border-radius: 12px;
            transition: .3s;
            box-shadow: 0px 0px 2px 2px rgba(black, 0.4);
            &:hover{
                scale: 1.05;
                transition: .3s;
            }
        }
    }
}

@keyframes headerAnimation {
    0% {
        transform: scale(1.25); 
    }
    100% {
        transform: scale(1); 
    }
}

@keyframes headerAnimation2 {
    0% {
        transform: scale(0.75); 
        opacity: 0;
    }
    100% {
        transform: scale(1); 
        opacity: 1;
    }
}

main{
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    background-color: red;
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    >:nth-child(1){
        background-color: orange;
        text-align: center;
        h2{
            all: unset;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            font-size: 52px;
        }
    }
    >:nth-child(2){
        display: flex;
        flex-flow: row wrap;
        background-color: green;
        flex: 1;
        gap: 1rem;
        >div{
            display: flex;
            flex-flow: column wrap;
            flex: 1;
            align-items: flex-start;
            gap: 1rem;
            background: blue;
            text-align: center;
            >:nth-child(1){
                width: 100%;
                display: flex;
                align-items: center;
                place-content: center;
                >:nth-child(1){
                    width: 100%;
                    max-width: 250px;
                    img{
                        width: 100%;
                        border-radius: 50%;
                    }
                }                
            }
            >:nth-child(2){
                background-color: peru;
                >:nth-child(1){
                    background: palegreen;
                    display: flex;
                    flex-flow: column wrap;
                    h4{
                        all: unset;
                        font-weight: 500;
                        font-family: "Poppins", sans-serif;
                        font-size: 22px;
                    }
                }
            }
        }
    }
    >:nth-child(3){
        text-align: center;
        font-size: 28px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 1.5rem;
        >div{
            background-color: green;
            display: flex;
            flex-flow: column wrap;
            gap: .5rem;
            h5{
                all: unset;
                font-weight: 600;
            }
            >:nth-child(1){
                text-decoration: underline;
            }
        }
    }
    >:nth-child(4){
        background: #fbff86 ;
        display: flex;
        padding: 1rem;
        margin: 0 auto;
        form{
            display: flex;
            flex-flow: column wrap;
            gap: 1.25rem;
            h4{
            text-align: center;

            }
            >:nth-child(2){
                display: flex;
                flex-flow: row wrap;
                gap: 1rem;
                div{
                    display: flex;
                    flex-flow: column wrap;
                    gap: .75rem;
                }
            }
            >:nth-child(3){
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                place-content: center;
                input[type="submit"]{
                    all: unset;
                    background-color: red;
                    font-family: "Varela Round", serif;
                    padding: 1rem 3rem;
                    cursor: pointer;
                    font-size: 22px;
                    border-radius: 12px;
                    transition: .3s;
                    box-shadow: 0px 0px 2px 2px rgba(rgb(97, 97, 97), 0.4);
                    &:hover{
                        scale: 1.05;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

section{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1.75rem;
    width: 90%;
    max-width: 1450px;
    background-color: red;
    margin: 0 auto;
    >:nth-child(1){
        h2{
            all: unset;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            font-size: 52px;
        }
    }
    >:nth-child(2){
        display: flex;
        flex-flow: column wrap;
        gap: .75rem;
        >:nth-child(1){
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
            >:nth-child(1){
                flex: 1.4;
                img{
                    width: 100%;
                }

            }
            >:nth-child(2){
                flex: .6;
                img{
                    width: 100%;
                }
                
            }
        }
        >:nth-child(2){
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
            >:nth-child(1){
                flex: .7;
                img{
                    width: 100%;
                }

            }
            >:nth-child(2){
                flex: 1.3;
                img{
                    width: 100%;
                }
                
            }

        }
        >:nth-child(3){
            display: flex;
            flex-flow: row wrap;
            gap: 1rem;
            >:nth-child(1){
                flex: .6;
                img{
                    width: 100%;
                }

            }
            >:nth-child(2){
                flex: .75;
                img{
                    width: 100%;
                }
                
            }
            >:nth-child(3){
                flex: 1.2;
                img{
                    width: 100%;
                }
                
            }
        }
    }
}

aside{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
    max-width: 1450px;
    background-color: red;
    margin: 0 auto;
    >:nth-child(3){
        background: #fbff86 ;
        display: flex;
        padding: 1rem;
        margin: 0 auto;
        form{
            display: flex;
            flex-flow: column wrap;
            gap: 1.25rem;
            h4{
            text-align: center;

            }
            >:nth-child(2){
                display: flex;
                flex-flow: row wrap;
                gap: 1rem;
                div{
                    display: flex;
                    flex-flow: column wrap;
                    gap: .75rem;
                }
            }
            >:nth-child(3){
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                place-content: center;
                input[type="submit"]{
                    all: unset;
                    background-color: red;
                    font-family: "Varela Round", serif;
                    padding: 1rem 3rem;
                    cursor: pointer;
                    font-size: 22px;
                    border-radius: 12px;
                    transition: .3s;
                    box-shadow: 0px 0px 2px 2px rgba(rgb(97, 97, 97), 0.4);
                    &:hover{
                        scale: 1.05;
                        transition: .3s;
                    }
                }
            }
        }
    }
}

footer{
    width: 90%;
    max-width: 1450px;
    background-color: red;
    margin: 0 auto;
    h2{
        
    }
    .swiper-container{
        background: orange;
        .swiper-wrapper{
            background-color: blue;
            display: flex;
            gap: 1rem;
            .swiper-slide{
                background: green;
                
                img{
                    width: 350px;
                }
            }
        }
    }
}

nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    place-self: center;
    place-content: center;
    gap: 2rem;
    width: 90%;
    max-width: 1450px;
    background-color: red;
    margin-bottom: 2rem;
}