@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* $amarillo: #fedb05;
$verde: #0aa14b;
$rojo: #d2272b;
$verdeOscuro: #48673e; */

.rubik {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  /* font-weight: 300 - 900; */
  font-style: normal;
}

.heebo {
  font-family: "Heebo", serif;
  font-optical-sizing: auto;
  /* font-weight: 100 - 900; */
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "Rubik", serif;
}

.h2Class {
  font-weight: 600;
  color: #0aa14b;
  font-size: 40px;
}

@media (max-width: 1200px) {
  .h2Class {
    font-size: 35px;
  }
}

@media (max-width: 900px) {
  .h2Class {
    font-size: 30px;
  }
}

@media (max-width: 750px) {
  .h2Class {
    font-size: 27.5px;
  }
}

@media (max-width: 575px) {
  .h2Class {
    font-size: 25px;
  }
}

.h3ClassGreen {
  font-weight: 600;
  color: #0aa14b;
  font-size: 30px;
}

@media (max-width: 1200px) {
  .h3ClassGreen {
    font-size: 27.5px;
  }
}

@media (max-width: 900px) {
  .h3ClassGreen {
    font-size: 25px;
  }
}

@media (max-width: 750px) {
  .h3ClassGreen {
    font-size: 22.5px;
  }
}

@media (max-width: 575px) {
  .h3ClassGreen {
    font-size: 20px;
  }
}

.h5RedClass{
  all: unset;
  color: #d2272b;
  font-weight: 600;
  font-family: "Heebo", serif;
  font-size: 22.5px;
}

@media (max-width: 1200px) {
  .h5RedClass{
    font-size: 21.5px;
  }
}

@media (max-width: 900px) {
  .h5RedClass{
    font-size: 20.5px;
  }
}

@media (max-width: 750px) {
  .h5RedClass{
    font-size: 19.5px;
  }
}

@media (max-width: 575px) {
  .h5RedClass{
    font-size: 18.5px;
  }
}

.pDarkGreen{
  color: #48673e;
  font-weight: 600;
  font-family: "Heebo", serif;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .pDarkGreen{
    font-size: 19px;
  }
}

@media (max-width: 900px) {
  .pDarkGreen{
    font-size: 18.5px;
  }
}

@media (max-width: 750px) {
  .pDarkGreen{
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .pDarkGreen{
    font-size: 17.5px;
  }
}

.mediumGreenText{
  font-size: 30px;
  color: #0aa14b;
  font-weight: 600;
}

@media (max-width: 1200px){
  .mediumGreenText{
    font-size: 27.5px;
  }
}

@media (max-width: 900px){
  .mediumGreenText{
    font-size: 25.5px;
  }
}

@media (max-width: 750px){
  .mediumGreenText{
    font-size: 22.5px;
  }
}

@media (max-width: 575px){
  .mediumGreenText{
    font-size: 20px;
  }
}

.miniRedText{
  color: #d2272b;
  font-weight: 600;
  font-size: 22.5px;
}

@media (max-width: 1200px){
  .miniRedText{
    font-size: 20px;
  }  
}

@media (max-width: 900px){
  .miniRedText{
    font-size: 18px;
  }
}

@media (max-width: 750px){
  .miniRedText{
    font-size: 17px;
  }
}

@media (max-width: 575px){
  .miniRedText{
    font-size: 16px;
  }
}

p {
  font-family: "Heebo", serif;
}

body div::-moz-selection,
body section::-moz-selection {
  background: transparent;
}

body div::selection,
body section::selection {
  background: transparent;
}

body img::-moz-selection {
  background: transparent;
}

body img::selection {
  background: transparent;
}
