@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.rubik {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  /* font-weight: 300 - 900; */
  font-style: normal;
}

.heebo {
  font-family: "Heebo", serif;
  font-optical-sizing: auto;
  /* font-weight: 100 - 900; */
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
button,
input {
  color: orange;
}

body div::-moz-selection,
body section::-moz-selection {
  background: transparent;
}

body div::selection,
body section::selection {
  background: transparent;
}

body img::-moz-selection {
  background: transparent;
}

body img::selection {
  background: transparent;
}
