@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* $amarillo: #fedb05;
$verde: #0aa14b;
$rojo: #d2272b;
$verdeOscuro: #48673e; */

.rubik {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  /* font-weight: 300 - 900; */
  font-style: normal;
}

.heebo {
  font-family: "Heebo", serif;
  font-optical-sizing: auto;
  /* font-weight: 100 - 900; */
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
button,
input {
}

h1, h2, h3{
  font-family: "Rubik", serif;
}

h2{
  color: #0aa14b;
}

p{
  font-family: "Heebo", serif;

}

body div::-moz-selection,
body section::-moz-selection {
  background: transparent;
}

body div::selection,
body section::selection {
  background: transparent;
}

body img::-moz-selection {
  background: transparent;
}

body img::selection {
  background: transparent;
}
