:root {
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

$DarkBlue: hsl(233, 26%, 24%);
$DarkBlue2: hsl(233, 26%, 24%, 0.9);
$DarkBlue3: hsl(233, 26%, 24%, 0.2);

// Menú de navegación

// Animación inicial al cargar nav

.navigationIDAnimation {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.4s;
}

.bodyOnOverlay {
  overflow: hidden;
}

// Estilos del nav

nav {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.4s;
  background: white;
  z-index: 9;
  > :nth-child(1) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
    transition: 0.3s;
    > :nth-child(1) {
      img {
        width: 100%;
        max-width: 162px;
      }
    }
    > :nth-child(2) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      > :nth-child(1) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 1rem;
        .link {
          position: relative;
          display: inline-flex;
          .link-click {
            cursor: pointer;
          }
          .link-click::before {
            content: "";
            position: absolute;
            bottom: 0em;
            left: 0;
            width: 100%;
            height: 2px;
            transform-origin: right;
            transition: transform var(--animation-primary);
            transform: scaleX(0) ;
          }
          .link-click:hover::before {
            transform-origin: left;
            transform: scaleX(1) ;
          }
          .link-click::after,
          .link-click::before {
            background-color: #d06b81;
          }
        }
        a {
          all: unset;
          font-weight: 600;
          cursor: pointer;
          transition: .3s;
          transition-delay: .3s;
          &:hover{
            color: #d06b81;
            transition: .3s;
          }
        }
        > :nth-child(5) {
          color: rgb(255, 255, 255);
          padding: 7.5px 15px;
          background: #d06b81;
          border-radius: 30px;
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
          transition: 0.3s;
          &:hover {
            transform: scale(1.07);
            transition: 0.3s;
            color: rgb(255, 255, 255);
          }
        }
      }
      > :nth-child(2) {
        display: grid;
        place-content: center;
        display: none;
        svg {
          width: 100%;
          height: 50px;
          width: 50px;
          cursor: pointer;
        }
      }
    }
  }
}

// NAV MEDIAS (900px) TABLET

@media (max-width: 900px) {
  nav {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.4s;
    background: white;
    z-index: 55;
    > :nth-child(1) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 1rem;
      transition: 0.3s;
      > :nth-child(1) {
        img {
          width: 100%;
          max-width: 129px;
        }
      }
      > :nth-child(2) {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        > :nth-child(1) {
          display: none;
        }
        > :nth-child(2) {
          display: grid;
          place-content: center;
          svg {
            width: 100%;
            height: 28px;
            width: 28px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Al hacer scroll se reduce el padding

.edit {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  > :nth-child(1) {
    padding: 0.75rem 0rem;
    transition: 0.3s;
  }
}

// OVERFLOW

.overflow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, $DarkBlue2, $DarkBlue3);
  transition: 0s;
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  .link {
    position: relative;
    display: inline-flex;
    .link-click {
      cursor: pointer;
    }
    .link-click::before {
      content: "";
      position: absolute;
      bottom: 0em;
      left: 0;
      width: 100%;
      height: 1px;
      transform-origin: right;
      transition: transform var(--animation-primary);
      transform: scaleX(0);
    }
    .link-click:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
    .link-click::after,
    .link-click::before {
      background-color: #d06b81;
    }
  }
  a {
    all: unset;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    &:hover{
      color: #d06b81;
      transition: .3s;
    }
  }
  > :nth-child(1) {
    background: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
    margin-top: 8rem;
    padding: 35px 0px;
    border-radius: 25px;
    transform: translateY(-100%);
    > :nth-child(5) {
      color: rgb(255, 255, 255);
      padding: 7.5px 15px;
      background: #d06b81;
      border-radius: 30px;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
      transition: 0.3s;
      &:hover {
        transform: scale(1.07);
        transition: 0.3s;
      }
    }
  }
}

// Al hacer scroll se reduce el margin top

.editoverflow {
  > :nth-child(1) {
    transition: 0.3s;
    margin-top: 7.5rem;
  }
}

// OVERFLOW MEDIAS (900px) TABLET

// Activar overflow con click en burger

@media (max-width: 900px) {
  .overflowAction {
    visibility: visible;
    opacity: 1;
    > :nth-child(1) {
      transition: 0.3s;
      transform: translateY(0px);
    }
  }
}
